:root {
  --primary-hue: 220;
  --primary-sat: 51.7%;
  --primary-brightness: 11.4%;
  --secondary-brightness: 22%;
  --tertiary-sat: 76%;
  --tertiary-lightness: 20%;
  --hover-lightness: 30%;
  --background-brightness: 3%;
  --primary-color: hsl(var(--primary-hue), var(--primary-sat), var(--primary-brightness));
  --secondary-color: hsl(var(--primary-hue), var(--primary-sat), var(--secondary-brightness));
  --tertiary-color: hsl(var(--primary-hue), var(--tertiary-sat), var(--tertiary-lightness));
  --background-color: hsl(var(--primary-hue), var(--primary-sat), var(--background-brightness));
  --button-warning-color: hsl(0, var(--primary-sat), 35%, 1);
  --lighter-text-color: hsl(var(--primary-hue), var(--tertiary-sat), 84%);
  --lightest-text-color: hsl(var(--primary-hue), var(--tertiary-sat), 100%);
  --text-highlight-color: hsl(var(--primary-hue), var(--primary-sat), 35%);
  --text-highlighted-color: hsl(var(--primary-hue), var(--primary-sat), 95%);
  --squarcle-radius: 6px;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  background: var(--background-color);
  font-family: sans-serif;
}

input,
textarea,
select {
  background: var(--background-color);
  border: 1px solid rgb(129 155 255 / 50%);
  border-radius: 4px;
  padding: 8px;
  color: white;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline-color: rgb(129 155 255 / 70%);
}

p {
  line-height: 1.6;
  margin: 0px;
}

button {
  border-radius: 8px;
  padding: 10px;
  border: none;
  background: var(--secondary-color);
  color: var(--lightest-text-color);
  cursor: pointer;
  display: flex;
  align-items: anchor-center;
  justify-content: center;
}

button.warning {
  background: var(--button-warning-color) !important;
}

button.no-style {
  border-radius: none;
  padding: 0px;
  background: none;
  color: none;
  align-items: unset;
  justify-content: unset;
}

button.no-style svg {
  margin: 0px !important;
}

.pane-gap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pane-gap button svg {
  color: var(--text-highlight-color);
}

button.darkest {
  background: var(--primary-color) !important;
}


button svg {
  margin-right: 8px;
}

button:disabled {
  cursor: unset;
  color: grey;
  background-color: #14223e;

}

button:disabled span {
  margin-right: 8px;
}

button.icon {
  padding: 4px;
}

button.icon svg {
  margin: 0px;
}

button {
  transition: all 0.15s;
}

button:hover {
  filter: brightness(130%);
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 0px;
  padding: 10px;
  padding-left: 0px;
  box-sizing: border-box;
}

.siteSelector {
  background-color: var(--primary-color);
  border-radius: 6px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.siteSelector .siteInfo {
  display: flex;
  align-items: center;
  padding: 14px;
  cursor: pointer;
  justify-content: flex-start;
  gap: 8px;
  background: none;
}

.siteSelector .siteInfo .favicon-container {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}

.siteSelector .siteInfo .info {
  font-family: sans-serif;
  font-size: 16px;
  color: var(--lighter-text-color);
}



.sidebar {
  width: 215px;
  min-width: 215px;
  overflow: hidden;
  transition: width 0.4s, min-width 0.4s, padding 0.2s;
  transition-timing-function: ease;
  padding-left: 10px;
}

.sidebar .container {
  background-color: var(--primary-color);
  border-radius: var(--squarcle-radius);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 215px;
  min-width: 215px;
  height: 100%;
  padding: 10px;
}

.sidebar.collapsed {
  width: 0px;
  min-width: 0px;
  padding-left: 0px;
}

#root:has(.pane-gap:hover) .sidebar.collapsed,
.sidebar.collapsed:hover {
  width: 215px;
  min-width: 215px;
  padding-left: 10px;
}


.sidebar .siteInfo {
  padding: 14px;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border-radius: 14px;
  cursor: pointer;
  gap: 12px;
}

.sidebar .siteInfo .infoContainer {
  display: flex;
  flex-grow: 1;
  gap: 12px;
}

.sidebar .siteInfo button.exit {
  height: 30px;
  width: 30px;
}

.sidebar .siteInfo .favicon-container .favicon {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.favicon-container .favicon img {
  width: 100%;
  border-radius: 4%;
  box-shadow: -1px 1px 2px 1px hsl(218.64deg 57.07% 16.02% / 98%);
}

.sidebar .siteInfo .favicon-container .favicon.no-icon {
  background: grey;
}

.sidebar .siteInfo .info {
  font-size: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.sidebar .siteInfo .info h1 {
  font-size: 14px;
  color: var(--lighter-text-color);
  font-family: sans-serif;
  font-weight: 500;
  padding: 0px;
  margin: 0px;
  text-align: left;
}

.sidebar .siteInfo .info button {
  padding: 5px;
}

.sidebar .siteInfo .info button svg {
  margin-right: 0px;
}

.sidebar ul {
  padding-inline-start: 0px;
  list-style-type: none;
  flex-grow: 1;
  margin: 0px;
  margin-left: 14px;
  margin-right: 14px;
}

.sidebar ul li {
  height: fit-content;
  color: var(--lightest-text-color);
  font-size: 14px;
  border-bottom: 1px solid #162748;
  font-weight: 100;
}

.sidebar ul li.parent {
  display: flex;
  border-bottom: none;
}

.sidebar ul li button.parent {
  flex-grow: 1;
  display: flex;
  align-items: anchor-center;
  font-size: 18px;
  font-weight: 400;
  padding-top: 16px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 16px;
  background: none;
}

.sidebar ul li button.parent:focus button {
  visibility: visible;
}

.sidebar ul li button.parent:focus-within button {
  visibility: visible;
}

.sidebar ul li span.collectionLabel {
  color: var(--lighter-text-color);
  padding-left: 0.7em;
}

.sidebar ul li span {
  display: inline-block;
  word-break: break-word;
  text-indent: 0em;
  padding-left: 2em;
}

.sidebar ul li button .folderIcon {
  stroke: none;
}

.sidebar ul li {
  word-break: break-word;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  color: var(--lightest-text-color);
}

.sidebar ul li button {
  justify-content: flex-start;
}

.sidebar ul li .buttons {
  display: none;
}

.sidebar ul li:hover .buttons,
.sidebar ul li:focus-within {
  display: flex;
  align-items: center;
}

.sidebar ul li:hover .buttons button,
.sidebar ul li:focus-within .buttons button {
  width: 20px;
  height: 20px;
  padding: 5px;
  background-color: var(--secondary-color);
  border-radius: 6px;
}

.sidebar ul li:hover .buttons,
.sidebar ul li:focus-within .buttons {
  display: flex;
}

.site-buttons {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.sidebar ul span.listHeader {
  font-size: 14px;
  color: #acbdd2;
  font-weight: 500;
  font-family: Helvetica;
  display: flex;
  line-height: 19px;
  justify-content: space-between;
}

.sidebar ul span.listHeader button {
  padding: 2px;
  margin: 0px;
  min-width: 19px;
  border-radius: 6px;
  width: 20px;
  height: 20px;
}

.sidebar ul button.parent button {
  padding: 5px;
  border-radius: 6px;
  visibility: hidden;
}

.sidebar ul button.parent:hover button {
  display: inherit;
  visibility: visible;
}

.sidebar ul .parent button svg {
  margin-right: 0px;
}

.main-view {
  flex-grow: 1;
  background: var(--primary-color);
  box-sizing: border-box;
  padding: 20px;
  border-radius: 6px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
  position: relative;
}

.main-view.thin-padding {
  padding: 14px !important;
}

.title-bar {
  display: flex;
  flex-direction: row;
}

.title-bar .title {
  flex-grow: 1;
}

.title-bar button {
  align-self: center;
  cursor: pointer;
  background: none;
}

.main-view .title-bar input.title {
  margin: 5px;
  padding: 5px;
  background: none;
  color: white;
  border: none;
  outline: none;
  font-size: 26px;
  font-weight: 800;
  -webkit-tap-highlight-color: none;
}

table.metadata {
  border-radius: 8px;
  margin-top: 10px;
  border-collapse: collapse;
}

table.metadata table tr td {
  min-height: 26px;
}

table.metadata tr td .limitedHeight {
  max-height: 3rem;
  overflow: scroll;
}

table.metadata tr td.value {
  flex-grow: 1;
  padding-right: 1rem;
}

table.metadata tr td.value textarea {
  width: -webkit-fill-available;
  resize: vertical;
}

table.metadata tr td:has(button:only-child):not(:last-child) {
  margin-right: 5px;
}

table.metadata tr {
  display: block;
  padding: 8px;
  display: flex;
  align-items: anchor-center;
  min-height: 26px;
}

table.metadata tr .buttons {
  margin-left: 15px;
  display: none;
}

table.metadata tr .buttons button {
  width: 24px;
  height: 24px;
  padding: unset;
  background: none;
}

table.metadata tr .buttons-active {
  display: flex;
  gap: 6px;
}

table.metadata tr .buttons button:hover {
  background: var(--secondary-color);
}

table.metadata tr .buttons button svg {
  margin-right: 0px;
  color: white;
}

table.metadata tr:hover .buttons,
table.metadata tr:focus-within .buttons {
  display: flex;
  min-width: fit-content;
  gap: 6px;
  margin-left: auto;
}

table.metadata tr:last-of-type {
  border: none;
}

table.metadata tr td:first-child {
  color: var(--lighter-text-color);
  min-width: fit-content;
}



table.metadata tr td {
  color: var(--lightest-text-color);
  padding-right: 10px;
}

.toolbar {
  border-collapse: collapse;
  border-radius: 8px;
  background-color: var(--tertiary-color);
  margin: 10px;
  margin-top: 16px;
  box-sizing: border-box;
  padding: 8px;
  position: sticky;
  top: 6px;
  left: 0px;
  z-index: 100;
}

.toolbar button {
  width: 24px;
  height: 24px;
  padding: 0px;
}

.toolbar button svg {
  margin-right: 0px !important;
}

.main-view img {
  max-width: 60%;
}

.postsList {
  height: 100%;
}

.head-container h1 {
  padding: 0px;
  margin: 0px;
  color: #e5eeff
}

.postsList ul {
  margin-right: 10px;
  margin-top: 20px;
}

.postsList ul,
.postsList li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.postsList ul li {
  display: flex;
  margin-bottom: 15px;
  border-radius: 6px;
}

.postsList ul li button.listItem {
  flex-grow: 1;
  padding: unset;
  margin: unset;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  background: none;
  height: 50px;
  min-width: 0;
}

.postsList ul li .buttons {
  margin-right: 6px;
  display: none;
}

.postsList ul li .buttons button {
  padding: 10px;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.postsList ul li:hover .buttons,
.postsList ul li:focus-within .buttons {
  display: flex;
}

.postsList ul li:focus-within button.listItem,
.postsList ul li:hover button.listItem {
  padding-right: 5px !important;
}

.postsList ul li button label {
  white-space: pre;
  text-overflow: ellipsis;
  max-width: 85%;
  overflow: hidden;
  cursor: pointer;
  font-size: 16px;
  color: var(--lightest-text-color);
}

.postsList ul li button.listItem .info {
  display: flex;
  justify-content: end;
  align-items: center;
}


.postsList ul li button:hover .info button {
  display: flex;
}

.postsList .head-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.postsList .head-container button {
  background: none;
}

.postsList ul li:hover {
  background: #2e3455;
}

.postsList ul li span {
  font-size: 14px;
  color: grey;
  justify-self: end;
  text-align: right;
  white-space: nowrap;
}

.dialog-modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 200;
  background: rgba(0, 0, 0, 0.4);
}

.dialog-modal-bg .dialog {
  border-radius: 8px;
  background-color: rgb(19 41 86);
  color: white;
}

.dialog-modal-bg .dialog {
  width: 500px;
}

.dialog-modal-bg .dialog .content {
  box-sizing: border-box;
  width: 100%;
  text-wrap: wrap;
  word-wrap: break-word;
}

.dialog-modal-bg .dialog h1:first-of-type {
  font-size: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 16px;
  margin: 0px;
}

.dialog-modal-bg .dialog .content {
  padding: 12px;
}

.dialog-modal-bg .dialog .content p {
  margin-top: 0px;
}

.dialog-modal-bg .dialog .buttons {
  display: flex;
  margin-top: 14px;
}

.dialog-modal-bg .dialog .buttons button {
  background: var(--primary-color);
}

.dialog-modal-bg .dialog .buttons button:not(:first-child) {
  margin-left: 12px;
}

.milkdown .ProseMirror {
  padding: 20px !important;
  background: var(--primary-color);
  color: #dee7f6;

}

.milkdown .ProseMirror a {
  color: #81a7f6 !important;
}

.milkdown .ProseMirror ul,
.milkdown .ProseMirror ol {
  padding: 0;
  margin-left: 36px;
  list-style-type: initial !important;
  list-style-type: disc !important;
}

.milkdown .ProseMirror ul li::marker,
.milkdown .ProseMirror ol li::marker {
  color: white;
}

.milkdown::selection {
  color: var(--text-highlighted-color) !important;
  background: var(--text-highlight-color);
}

.milkdown .ProseMirror code {
  border-radius: 4px;
  background: var(--secondary-color) !important;
  padding: 4px !important;
  font-size: 12px !important;

}

.milkdown .ProseMirror p {
  line-height: 1.6 !important;
  color: #bcd6f6 !important;
}

.dashboardForm {
  margin-bottom: 15px;
}

.dashboardForm input {
  min-width: 60%;
}

.dashboardForm span {
  display: flex;
  height: 30px;
  margin-bottom: 10px;
  margin-left: 11px;
  font-size: 15px;
  padding: 5px;
}

.dashboardForm span b {
  width: 100px;
  display: flex;
  align-items: center;
  color: var(--lighter-text-color);
  font-weight: 500;
}

.dashboardForm h2,
.dashboardForm h1 {
  color: var(--lightest-text-color);
}

.dashboardForm h1 {
  margin: 0px;
  padding: 0px;
  margin-bottom: 18px;
}

.dashboardForm h2 {
  margin-bottom: 18px;
}

.wizard {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: fit-content;
  border-radius: 6px;
  background-color: var(--primary-color);
  align-self: center;
  margin: 0px auto;
  color: var(--lightest-text-color);
}

.wizard .progressStepper {
  display: flex;
  flex-direction: row;
  gap: 1px;
}

.wizard .progressStepper .step {
  flex-grow: 1;
  padding: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #3a5273;
}

.wizard .progressStepper .step.active {
  border-bottom: 2px solid var(--lighter-text-color);
  font-weight: bold;
}

.wizard .progressStepper .step label {
  color: var(--lighter-text-color);
  font-size: 12px;
}

.wizard .wizardContent {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.wizard .wizardContent form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wizard .wizardContent form label {
  display: flex;
  gap: 30px;
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

.wizard .wizardContent form label b {
  width: 100px;
  align-content: center;
}

.wizard .wizardContent form label input {
  height: 38px;
}

.wizard .wizardContent form label:first-of-type {
  padding-top: 0px;
}


.wizard .wizardActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  padding-top: 0px;
}

.wizard .wizardActions button {
  min-width: 70px;
}

.wizard .wizardActions button:only-of-type {
  margin-left: auto;
}

ul.siteSelector li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

ul.siteSelector li:hover,
ul.siteSelector li:focus-within {
  background: var(--secondary-color);
  border-radius: 8px;
}

ul.siteSelector li .buttons {
  display: none;
  margin-right: 14px;
}

ul.siteSelector li:hover .buttons,
ul.siteSelector li:focus-within .buttons {
  display: flex;
}

ul.siteSelector li button {
  flex-grow: 1;
}

.siteSelectionPrompt {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  color: var(--lighter-text-color);
  font-size: 25px;
  height: 100%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;

}

.siteSelectionPrompt svg {
  color: #547fdb;
}

.milkdown .milkdown-image-block .caption-input {
  background: var(--text-highlight-color);
  padding: 10px;
  border-radius: 2px;
  margin-top: 0px !important;
}

.tagEditor {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  flex-wrap: wrap;
}

.tagEditor.editing {
  background: #04060b;
  padding: 4px;
  border: 1px solid rgb(129 155 255 / 50%);
  border-radius: 4px;
}

.tagItem {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--secondary-color);
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  gap: 4px;
  border-radius: 3px;
  height: 24px;
  min-width: fit-content;
  font-size: 14px;
  align-items: anchor-center;
}

.tagEditor.editing .tagItem {
  padding: 4px !important;
}

.tagItem span {
  margin-left: 3px;
}

.tagItem button {
  width: fit-content;
  height: fit-content;
  margin: 0px;
  padding: 4px;
  display: flex;
  justify-content: center;
  background: none;
}

.tagItem button svg {
  margin: 0px !important;
}

.tagEditor input {
  width: 80px;
  background: none;
  border: none;
  outline: none;
  color: white;
  flex-grow: 1;
}